<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>Quiz App Settings</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTextFieldSpecifier</string>
            <key>Title</key>
            <string>Quiz URL</string>
            <key>Key</key>
            <string>urlString</string>
            <key>DefaultValue</key>
            <string>http://tednewardsandbox.site44.com/questions.json</string>
            <key>AutocapitalizationType</key>
            <string>None</string>
            <key>AutocorrectionType</key>
            <string>No</string>
            <key>KeyboardType</key>
            <string>URL</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Auto Refresh</string>
            <key>Key</key>
            <string>autoRefresh</string>
            <key>DefaultValue</key>
            <false/>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSSliderSpecifier</string>
            <key>Title</key>
            <string>Refresh Interval (min)</string>
            <key>Key</key>
            <string>refreshInterval</string>
            <key>DefaultValue</key>
            <integer>5</integer>
            <key>MinimumValue</key>
            <real>1</real>
            <key>MaximumValue</key>
            <real>30</real>
        </dict>
	</array>
</dict>
</plist>
